.yui-tvb-l1 {
	MIN-WIDTH: 750px; TEXT-ALIGN: left; MARGIN: auto; WIDTH: 56.25em
}
.yui-tvb-l2 {
	MIN-WIDTH: 750px; TEXT-ALIGN: left; MARGIN: auto; WIDTH: 56.25em
}
.yui-tvb-l3 {
	MIN-WIDTH: 750px; TEXT-ALIGN: left; MARGIN: auto; WIDTH: 56.25em
}
.yui-tvb-l4 {
	MIN-WIDTH: 750px; TEXT-ALIGN: left; MARGIN: auto; WIDTH: 56.25em
}
.yui-tvb-r1 {
	MIN-WIDTH: 750px; TEXT-ALIGN: left; MARGIN: auto; WIDTH: 56.25em;
}
.yui-tvb-r2 {
	MIN-WIDTH: 750px; TEXT-ALIGN: left; MARGIN: auto; WIDTH: 56.25em
}
.yui-tvb-r3 {
	MIN-WIDTH: 750px; TEXT-ALIGN: left; MARGIN: auto; WIDTH: 56.25em
}
.yui-tvb-r4 {
	MIN-WIDTH: 750px; TEXT-ALIGN: left; MARGIN: auto; WIDTH: 56.25em
}
.yui-tvb-l1 #yui-main {
	FLOAT: right; MARGIN-LEFT: -25em
}
.yui-tvb-l2 #yui-main {
	FLOAT: right; MARGIN-LEFT: -25em
}
.yui-tvb-l3 #yui-main {
	FLOAT: right; MARGIN-LEFT: -25em
}
.yui-tvb-l4 #yui-main {
	FLOAT: right; MARGIN-LEFT: -25em
}
.yui-tvb-r1 #yui-main {
	FLOAT: left; MARGIN-RIGHT: -25em
}
.yui-tvb-r2 #yui-main {
	FLOAT: left; MARGIN-RIGHT: -25em
}
.yui-tvb-r3 #yui-main {
	FLOAT: left; MARGIN-RIGHT: -25em
}
.yui-tvb-r4 #yui-main {
	FLOAT: left; MARGIN-RIGHT: -25em
}
.yui-tvb-l1 .yui-b {
	WIDTH: 12em; FLOAT: left
}
.yui-tvb-l1 #yui-main .yui-b {
	MARGIN-LEFT: 13.05em
}
.yui-tvb-l2 .yui-b {
	WIDTH: 13.5em; FLOAT: left
}
.yui-tvb-l2 #yui-main .yui-b {
	MARGIN-LEFT: 14.55em
}
.yui-tvb-l3 .yui-b {
	WIDTH: 18em; FLOAT: left
}
.yui-tvb-l3 #yui-main .yui-b {
	MARGIN-LEFT: 19.12em
}
.yui-tvb-l4 .yui-b {
	WIDTH: 22.5em; FLOAT: left
}
.yui-tvb-l4 #yui-main .yui-b {
	MARGIN-LEFT: 23.62em
}
.yui-tvb-r1 .yui-b {
	WIDTH: 12em; FLOAT: right
}
.yui-tvb-r1 #yui-main .yui-b {
	MARGIN-RIGHT: 13.05em
}
.yui-tvb-r2 .yui-b {
	WIDTH: 13.5em; FLOAT: right
}
.yui-tvb-r2 #yui-main .yui-b {
	MARGIN-RIGHT: 14.55em
}
.yui-tvb-r3 .yui-b {
	WIDTH: 18em; FLOAT: right
}
.yui-tvb-r3 #yui-main .yui-b {
	MARGIN-RIGHT: 19.12em
}
.yui-tvb-r4 .yui-b {
	WIDTH: 22.5em; FLOAT: right
}
.yui-tvb-r4 #yui-main .yui-b {
	MARGIN-RIGHT: 23.62em
}
.yui-tvb-l25 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 25%; PADDING-RIGHT: 0px; FLOAT: left; CLEAR: right; PADDING-TOP: 0px
}
.yui-tvb-r25 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 24%; PADDING-RIGHT: 0px; FLOAT: right; PADDING-TOP: 0px
}
.yui-tvb-l30 {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0.5%; PADDING-LEFT: 0px; WIDTH: 29%; PADDING-RIGHT: 0px; FLOAT: left; CLEAR: right; PADDING-TOP: 0px
}
.yui-tvb-r30 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 30%; PADDING-RIGHT: 0px; FLOAT: right; CLEAR: left; PADDING-TOP: 0px
}
.yui-tvb-30 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 30%; PADDING-RIGHT: 0px; PADDING-TOP: 0px; LEFT: 30%
}
.yui-tvb-l40 {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0.5%; PADDING-LEFT: 0px; WIDTH: 39%; PADDING-RIGHT: 0px; FLOAT: left; CLEAR: right; PADDING-TOP: 0px
}
.yui-tvb-r40 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 39%; PADDING-RIGHT: 0px; FLOAT: right; PADDING-TOP: 0px
}
.yui-tvb-40 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 40%; PADDING-RIGHT: 0px; CLEAR: right; PADDING-TOP: 0px; LEFT: 30%
}
.yui-tvb-50 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 40%; PADDING-RIGHT: 0px; PADDING-TOP: 0px; LEFT: 25%
}
.yui-tvb-l50 {
	PADDING-BOTTOM: 0px; MARGIN: 0px 2%; PADDING-LEFT: 0px; WIDTH: 46%; PADDING-RIGHT: 0px; FLOAT: left; CLEAR: right; PADDING-TOP: 0px
}
.yui-tvb-l60 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 59%; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
.yui-tvb-r60 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 59%; PADDING-RIGHT: 0px; FLOAT: right; CLEAR: right; PADDING-TOP: 0px
}
.yui-tvb-70 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 70%; PADDING-RIGHT: 0px; FLOAT: ; PADDING-TOP: 0px
}
